*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
    color: #121212;
}

.container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family: "Quicksand",sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 55px;
    color: #BB86FC;

    width: 600px;
    margin: 10px auto 0 auto;
    text-align: center;
}

#options_container{
    width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #BB86FC;
    padding: 30px;
    
}

#options_container div{
    width: 100%;
    padding: 10px;
    font-family: "Quicksand",sans-serif;
    font-weight: 600;
    font-size: 30px;
    height: 40px;
}

label{
    margin-left: 50px;
}

/*checkbox*/

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    background-color: #121212;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 20px;
    outline: none;
    transition: 0.3s;
}


input[type="checkbox"]:after{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 30px;
    color: #BB86FC;
    display: none;
}

input[type="checkbox"]:hover{
    scale: 1.1;
}

input[type="checkbox"]:checked:after{
    display:block;
}

/*Input number*/
input[type="number"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield; /* Oculta flechas en Firefox */
    
    height: 40px;
    width: 40px;
    background-color: #121212;
    color: #BB86FC;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    outline: none;
    transition: 0.3s;
    border: none;
    margin-right: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}

/* Efecto hover */
input[type="number"]:hover {
    scale: 1.1;
}

/* Efecto focus */
input[type="number"]:focus {
    scale: 1.1
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

/*Button*/

button{
    width: 170px;
    height: 55px;
    margin: 0 auto;
    display: block;
    background-color: #121212;
    color: #BB86FC;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Quicksand',sans-serif;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s;
}

button:hover{
    scale: 1.05;
}

/*RESULT*/

#result{
    color: #BB86FC;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Quicksand',sans-serif;
    font-size: 60px;
}

#result i{
    margin-left: 20px;
    transition: 0.3s;
}

#result i:hover{
    scale: 1.1;
}
  



